body{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

#box{
    width:300px;
    padding:20px;
    border:2px solid gray;
    border-radius:15px;
    text-align:center;
}

button{
    padding:8px 15px;
    margin:10px;
    cursor:pointer;
}